p{
    font-size: 35px; 
    margin-left: 200px;
}
#a{margin-left: 250px;

}
#aa{font-size: 15px;
    margin-top: -30px;
    margin-left: 220px;

}
#aaa{margin-top: -20px;
    margin-left: 250px;

}
body{background-image: url(z.jpg); no-repeat
     
}